
  
  
  
  
  
  <div style="width: 100%;margin-top: 0;"><p-breadcrumb [model]="items" [home]="home" [class]="ui-breadcrumb"  ></p-breadcrumb></div>  

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">List of Tools </h4>
        </div>
        <div class="card-body">
          <p-table #dt [columns]="cols" [value]="cars" [paginator]="true" [rows]="10" >
            <ng-template pTemplate="caption">
              <div style="text-align: right">        
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
          </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
                   
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                     
  
                    </th>
                    <th>Operation </th>

                </tr>
          
                <tr>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                    <input *ngSwitchCase="'Reference'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'id'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'Name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'Version'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <p-dropdown *ngSwitchCase="'Type'" [options]="Type" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <p-dropdown *ngSwitchCase="'Company'" [options]="Company" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <p-dropdown *ngSwitchCase="'Family'" [options]="Family" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <p-dropdown *ngSwitchCase="'Process'" [options]="Process" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>

                </th>
                <th></th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                    <td>
                      <div style="text-align:right;">
                        <button pButton type="button" class="ui-button-warning" icon="pi pi-download" style="margin-right: .5em;"></button>
                      <button pButton type="button" class="ui-button-success" icon="pi pi-search" ></button>
                   
                    </div>
                  </td>
                </tr>
            </ng-template>
        </p-table>
        </div>
      </div>
    </div>
  
  </div>
  